@import 'global';

div.image-gallery {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow-x: hidden;

    img {
        opacity: 0;
        display: block;
        position: absolute;
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    img.pre-left-img {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    img.pre-right-img {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    img.active {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    img.post-left-img {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    img.post-right-img {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -moz-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        -o-transition: transform 0.7s ease-out, opacity 0.7s ease-out;
        transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    }

    span.error-msg {
        top: 50%;
        display: block;
        position: relative;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

button:active {
    outline: none;
}

button.arrow {
    top: 50%;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
    text-align: center;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;

    span {
        top: 10px;
        width: 0;
        height: 0;
        display: block;
        margin: 0 auto;
        border-style: solid;
    }
}

button.arrow-left {
    left: 0;
    
    span {
        border-width: 10px 17.3px 10px 0;
        border-color: transparent #333 transparent transparent;
    }
}

button.arrow-right {
    right: 0;   
    
    span {
        border-width: 10px 0 10px 17.3px;
        border-color: transparent transparent transparent #333;
    }
}